.button {
  border-radius: 50px;
  padding: 5px;
  min-width: 120px;
  color: white;
  font-weight: 600;
  -webkit-appearance: none;
  cursor: pointer;
}

.button:active,
.button:focus {
  outline: none;
}

.button--success {
  background-color: #2ecc71;
}

.button--danger {
  background-color: #e74c3c;
}
